*{
    color:aliceblue;
    background-color: rgb(43, 43, 72);
}

.list-container {
    display:inline;
}

ul li {
    list-style-type: none;
    margin:10px;
    display:inline;
}
ul li a {
    text-decoration: none;  
}